<section class="module">
    <div class="container">
      <div class="row multi-columns-row post-columns">
        <div class="col-sm-6 col-md-3 col-lg-3" *ngFor="let x of xs">
          <div class="post" >
            <div class="post-thumbnail"><a href="#"><img src="assets/images/post-1.jpg" alt="Blog-post Thumbnail"/></a></div>
            <div class="post-header font-alt">
              <h2 class="post-title"><a href="#">Our trip to the Alps</a></h2>
              <div class="post-meta">By&nbsp;<a href="#">Mark Stone</a>&nbsp;| 23 November | 3 Comments
              </div>
            </div>
            <div class="post-entry">
              <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
            </div>
            <div class="post-more"><a class="more-link" href="#">Read more</a></div>
          </div>
        </div>
      </div>
    </div>
  </section>