<section class="module bg-dark-30" data-background="assets/images/section-4.jpg">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h1 class="module-title font-alt mb-0">Login-Register</h1>
            </div>
        </div>
    </div>
</section>

<section class="module">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 mb-sm-40">
                <h4 class="font-alt">Inicia sesión</h4>
                <hr class="divider-w mb-10">
                <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="form-group">
                        <input class="form-control" formControlName="email" [ngClass]="{ 'is-invalid':}"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="password" type="password" name="password" placeholder="Contraseña" [(NgModel)]="password"/>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-round btn-b">Iniciar sesión</button>
                    </div>
                    <div class="form-group"><a href="">¿Olvidaste tu contraseña?</a></div>
                </form>
            </div>
        </div>
    </div>
</section>