<section class="module">
  <div class="container">
    <div class="row multi-columns-row post-columns">
      <div class="col-sm-6 col-md-4 col-lg-4"></div>
      <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="post" >
          <div class="post-thumbnail"><img src="{{user.image}}"/></div>
          <div class="post-header font-alt">
            <h2 class="post-title">{{user.firstname}} {{user.lastname}}</h2>
            <div class="post-meta">{{user.alias}}
            </div>
          </div>
          <div class="post-entry" >
            <p>Cumpleaños: {{user.birthdate.substr(8, 2)}}/{{user.birthdate.substr(5, 2)}}/{{user.birthdate.substr(0, 4)}}</p>
            <p>Genero: {{user.gender}}</p>
            <p>Teléfono: {{user.phone}}</p>
          </div>
          <div class="post-entry center" >
              <a class="btn btn-warning" (click)="deleteTicket(event.id)">Cambiar contraseña</a>
          </div>
          <div class="post-entry center" >
              <a class="btn btn-danger" (click)="deleteTicket(event.id)">Eliminar cuenta</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>