<section class="module bg-dark-30" data-background="assets/images/section-4.jpg">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h1 class="module-title font-alt mb-0">Reestablece tu contraseña</h1>
      </div>
    </div>
  </div>
</section>

<section class="module">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 mb-sm-40">
        <h4 class="font-alt">Reestablecer contraseña</h4>
        <hr class="divider-w mb-10">

        <form class="form" [formGroup]="resetForm" (ngSubmit)="resetPassword()">
          <input class="form-control" type="hidden" formControlName="token" />

          <div [ngClass]="{'form-group': true, 'has-error': submitted && (f.email.errors || errors)}">
            <input type="email" class="form-control" formControlName="email" placeholder="Correo electrónico" />

            <!-- Frontend errors -->
            <div *ngIf="submitted && f.email.errors">
              <span *ngIf="submitted && (f.email.errors.required)" class="text-danger">Introduce tu correo electrónico</span>
              <span *ngIf="submitted && f.email.errors.email" class="text-danger">Introduce un correo electrónico
                válido</span>
            </div>

            <!-- Backend errors -->
            <div *ngFor="let err of errors.email">
              <span class="text-danger">{{ err }}</span>
            </div>
          </div>

          <div [ngClass]="{'form-group': true, 'has-error': submitted && (f.password.errors || errors)}">
            <input type="password" class="form-control" formControlName="password" placeholder="Contraseña" />

            <!-- Frontend errors -->
            <div *ngIf="submitted && f.email.errors">
              <span *ngIf="submitted && f.password.errors.required" class="text-danger">Introduce tu nueva contraseña</span>
            </div>

            <!-- Backend errors -->
            <div *ngFor="let err of errors.password">
              <span class="text-danger">{{ err }}</span>
            </div>
          </div>

          <!-- Password confirmation -->
          <div [ngClass]="{'form-group': true, 'has-error': submitted && f.password_confirmation.errors}">
            <input type="password" class="form-control" formControlName="password_confirmation" placeholder="Reescribe tu contraseña" />

            <!-- Frontend errors -->
            <div *ngIf="submitted && f.email.errors">
              <span *ngIf="submitted && f.password_confirmation.errors.required" class="text-danger">Reescribe tu nueva contraseña</span>
            </div>

            <!-- Backend errors -->
            <div *ngFor="let err of errors.password_confirmation">
              <span class="text-danger">{{ err }}</span>
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-round btn-b">Reestablecer contraseña</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
