<section class="module bg-dark-30" data-background="assets/images/section-4.jpg">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
              <h1 class="module-title font-alt mb-0">Preguntas</h1>
          </div>
      </div>
  </div>
</section>

<section class="module">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
          <h3 class="font-alt mb-0">Preguntas</h3>
          <form class="form"  (ngSubmit)="submitAnswers()">
              <div *ngFor="let question of questions; index as i" class="panel panel-default">
                <label>{{question}}</label>
                <div class="form-group">
                  <input [(ngModel)]='answers[i]' name="{{i}}" class="form-control" placeholder="Respuesta" type="text" required="true">
                </div>
              </div>
              <button class="btn btn-b btn-round">Submit</button>
          </form>
        </div>
      </div>
    </div>
</section>

