<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="index.html">Titan</a>
    </div>
    <div class="collapse navbar-collapse" id="custom-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown"><a routerLink="/" data-toggle="dropdown">Inicio</a></li>
        <li class="dropdown"><a routerLink="/tickets" data-toggle="dropdown">Tickets</a></li>
        <!-- <li class="dropdown"><a routerLink="/" data-toggle="dropdown">Mis eventos</a></li> -->
        
        <li class="dropdown"><a></a></li>
        <li class="dropdown"><a></a></li>
        
        <li *ngIf="!auth.getUser()" class="dropdown"><a routerLink="/register" data-toggle="dropdown">Registrarse</a></li>
        <li *ngIf="!auth.getUser()" class="dropdown"><a routerLink="/login" data-toggle="dropdown">Iniciar sesión</a></li>

        <li *ngIf="auth.getUser()" class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">{{auth.getUser().firstname}}</a>
            <ul class="dropdown-menu">
                <li><a routerLink="/profile">Perfil</a></li>
                <li><a (click)="logout()">Cerrar sesión</a></li>
            </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>